name: capston-infra-workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  id-token: write
  contents: read
env:
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}  

jobs:

  # ========== BUILD STAGE ==========
  Validate:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - name: Azure Login
        uses: Azure/login@v2
        with:
          client-id: 435207cd-1a2b-46b3-af85-67f3ebf5e68d
          tenant-id: 215650d6-bc81-4e8e-ad7a-3c3ff4c8af04
          subscription-id: 792b5051-461b-4568-abbd-b3d549f22f8c
      
      - name: Terraform Init
        working-directory: environment/dev
        run: terraform init

      - name: Terraform Validate
        working-directory: environment/dev
        run: terraform validate

  FMT:
    runs-on: self-hosted
    needs: Validate
    steps:
      - uses: actions/checkout@v5
      - name: Terraform FMT
        working-directory: environment/dev
        run: terraform fmt -recursive

  TFSEC:
  runs-on: self-hosted
  needs: FMT

  steps:
    - uses: actions/checkout@v5

    - name: Install tfsec (Windows Runner)
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri "https://github.com/aquasecurity/tfsec/releases/latest/download/tfsec-windows-amd64.exe" -OutFile "tfsec.exe"

    - name: Run TFSec Scan
      shell: pwsh
      run: |
        ./tfsec.exe environment/dev
      continue-on-error: true


  Plan:
    runs-on: self-hosted
    needs: TFSEC
    steps:
      - uses: actions/checkout@v5
      - name: Azure Login
        uses: Azure/login@v2
        with:
          client-id: 435207cd-1a2b-46b3-af85-67f3ebf5e68d
          tenant-id: 215650d6-bc81-4e8e-ad7a-3c3ff4c8af04
          subscription-id: 792b5051-461b-4568-abbd-b3d549f22f8c

      - name: Terraform Init
        working-directory: environment/dev
        run: terraform init

      - name: Terraform Plan
        working-directory: environment/dev
        run: terraform plan -out=tfplan

  # ========== MANUAL APPROVAL ==========
  ManualApproval:
    runs-on: self-hosted
    needs: Plan
    environment:
      name: prod
    steps:
      - name: Waiting for Manual Approval
        run: echo "Please approve deployment from GitHub → Environments → prod"

  # ========== APPLY STAGE ==========
  Apply:
    runs-on: self-hosted
    needs: ManualApproval
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v5
      - name: Azure Login
        uses: Azure/login@v2
        with:
          client-id: 435207cd-1a2b-46b3-af85-67f3ebf5e68d
          tenant-id: 215650d6-bc81-4e8e-ad7a-3c3ff4c8af04
          subscription-id: 792b5051-461b-4568-abbd-b3d549f22f8c
      - name: Terraform Init
        working-directory: environment/dev
        run: terraform init

      - name: Terraform Apply
        working-directory: environment/dev
        run: terraform apply -auto-approve
        
